/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-image: url("heroimage.jpeg");
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  background-color: black;
  padding: -20px;  

}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

h1 {
    font-family: "Playfair Display";
    color: #f7ed41;
    font-size: 70px;
    
}

.social a{
    
    display:inline-block; width:90px;
} 


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

div.video {
    padding: 100px;
    background-color: #DFCFFD;
  
  }



div.tour {

    padding: 100px;
    background-color: #000000;
    


}
/*video area */
.button1{ 
    font-family: "Lato", sans-serif;
    padding: 20px;
    font-size: 25px;
    background-color:white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;


}

.button:hover {
    background-color: #FFFFFF; /* Green */
    color: white;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  float: right;
  margin-top: -10px;
}
 
  .masthead-nav > li {
    display: inline-block;
  }
  .masthead-nav > li + li {
    margin-left: 20px;
  }
  .site-wrapper a.music{
    float: left;
    position: fixed;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 0.1px solid transparent;
  }
  .site-wrapper a.shop{
    float: left;
    position: fixed;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 0.1px solid transparent;
  }
  .masthead-nav > li > a:hover,
  .masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
  }
  .masthead-nav > .active > a,  
  .masthead-nav > .active > a:hover,
  .masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fceb00;
  }



/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  font-size: 10px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }


  }
}

@media (min-width: 440px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

  @media screen and (max-width:900px) {
    img.soundcloud { opacity: 0;
    }
    .social a {

        display: inline-block;
        justify-content: center;
        height: 100px;
        
    }


}

